{% extends 'basketapp/order_base.html' %}
{% load staticfiles %}


{% block content %}
<div class="">
    Ваши заказы,
    {% if user.first_name %}
    {{ user.first_name|title }}
    {% else %}
    Пользователь
    {% endif %}
</div>
<table class="table_orders">

    <tbody>
    <tr>
        <th class="order_td">№</th>
        <th class="order_td">ресторан</th>
        <th class="order_td">статус</th>
    </tr>

    {% for item in order %}

    <tr>
        <td  class=order_td title="{{item.get_products}}">
            {{item.pk}}
        </td>
        <td  class=order_td title="{{item.get_products}}" style="width: 200px">
            {{item.get_restaurant}}
        </td>
        <td  class=order_td title="{{item.get_products}}" style="width: 200px">
            {{item.get_status_display}}
        </td>

        {% if item.status == 'FM' %}
        <td class="">

            <a href="{% url 'basket:order_delete' item.pk %}">
                удалить
            </a>

        </td>

        <td class="">

            <a href="{% url 'basket:order_pay' item.pk %}">
                оплатить
            </a>

        </td>
        {% endif %}
        <td class="">

            <a href="{% url 'basket:order_view' item.pk %}">
                просмотреть
            </a>

        </td>
    </tr>

    {% endfor %}
    </tbody>
</table>
<button class="btn btn-default btn-round">
    <a href="{% url 'main' %}">
        на главную
    </a>
</button>

{% endblock %}